* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    flex-wrap: wrap;

}

header {
    padding: 20px;
    background-color: rgb(255, 212, 208, 100%);
    position: sticky;
    top: 0;
}

header a {
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

/* head-top*/

.top-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0 20px 0;
}

.icon {
    padding-left: 10px;
    color: rgb(252, 51, 20, 100%);
    font-weight: 600;
    font-size: 25px;
}

.icon span {
    font-size: 27px;
    color: black;
    letter-spacing: -2.5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #111827;
    text-decoration: none;

}

nav ul li a:visited {
    color: #111827;
}

nav ul li a:hover {
    color: rgb(252, 51, 20, 100%);
}

.right-inner {
    border: 2px solid black;
    padding: 10px 15px;
    background-color: black;

}

.right-inner a {
    text-decoration: none;
}

.right-inner a:visited {
    color: white;
}

.right-inner a:hover {
    color: rgb(255, 212, 208, 100%);
}

/* head-top*/

/* home */

#home {
    background-color: rgb(255, 212, 208, 100%);
}

.left p {
    text-align: left;
}

.home-inner {
    display: flex;
    justify-content: space-around;
    gap: 48px;
}

.home-inner .text {
    font-size: 35px;
    font-weight: 700;
}

.home-inner span {
    color: rgb(252, 51, 20, 100%);
}

.home-inner .left {
    padding: 64px 0 80px 124px;
    margin-left: 80px;
    width: 45rem;
    font-weight: 300;

}

.home-inner .right {
    margin-left: 190px;
    padding-top: 30px;
    padding-right: 124px;
    padding-left: 80px;
    align-self: center;
}

.home-inner .right img {
    border: 2px solid black;
    border-radius: 80px;
    width: 15em;
}

/* home */

/* about */

#about {
    padding: 64px 118px;
    color: white;
    background-color: black;
}

.about-inner {
    text-align: center;
}

.about-top p {
    font-weight: 200;
    width: 45rem;
    justify-self: center;

}

.about-bottom {
    margin-top: 32px;
    display: grid;
    margin-bottom: 16px;
}

.about-bottom span {
    font-size: 90px;
    color: rgb(255, 212, 208, 100%);
}

/* about */

/* works */

#works {
    padding-bottom: 122px;
    background-color: white;
}

.work-top {
    background-color: rgb(255, 212, 208, 100%);
    padding: 80px 80px 50px 80px;
    text-align: center;
}

.work-top p {
    font-weight: 200;
    width: 45rem;
    justify-self: center;
}

.work-bottom {
    display: flex;
    justify-content: space-around;
}

.work-bottom h4 {
    font-size: 25px;
}

.work-bottom p {
    font-weight: 200;
    font-size: 15px;
}

.workb {
    padding: 20px;
    margin-top: 160px;
    border: 2px solid black;
    border-radius: 20px;
    width: 25rem;
    background-color: rgb(255, 212, 208, 100%);
    ;

}

.workb:hover {
    /* Moves the section up by 10 pixels */
    transform: translateY(-10px);

    /* Increases the shadow size and intensity for a "lifted" look */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.workb a {
    color: black;
    text-decoration: none;
    border: 1px solid red;
    background: rgb(255, 136, 156);
    border-radius: 10px;
    padding: 8px 12px;
}

.workb a:visited {
    color: #111827;
}

.workb a:hover {
    color: rgb(252, 51, 20, 100%);
}

.bflex {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* works */

/* skills */
#skills {
    padding: 70px;
    background-color: white;
    text-align: center;

}

.skill-top {
    width: 45rem;
    justify-self: center;
}

.skill-top p {
    font-weight: 200;
    font-size: 15px;
}

.skill-bottom {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-self: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.skill-list {
    border: 2px solid red;
    border-radius: 25px;
    padding: 15px 35px;
    background-color: pink;
}

.skill-list:hover {
    opacity: 0.5;
}

/* skills */

/* project_detail */

#project_detail {
    padding: 80px;
    background-color: white;
}

#project_detail h2{
    text-align: center;
    margin-bottom: 70px;
   
}

.project-info{
    margin-top: 10px;
    display: flex;
    gap: 10em;
    align-items: center;
}

.more{
    width: 43em;
   
}


.more ul{
    border: 2px solid black;
    border-radius:  30px;
    padding:2em 8em 2em 2em;
}

.project-info img{
    border-radius: 10px;
}

/* project_detail */

/* contact */

#contact {
    padding: 60px;
    background-color: pink;
}

.contact-cover {
    margin-left: 70px;
}

.contact-top {
    width: 45rem;
    text-align: left;
}

.contact-top p {
    font-weight: 200;
    font-size: 15px;
}

.detail {
    padding: 5px;
    display: flex;
    align-content: center;
    gap: 10px;

}

.icon-details {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
}

.icon-details img {
    width: 1em;
}

/* contact */

/* footer */

footer {
    padding: 90px;
    background-color: black;
    color: white;
}

.footer-cover {
    justify-self: center;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-top span {
    color: white;
}

.footer-top h1 {
    color: red;
    padding: 5px 55px;
    font-size: 2em;

}

footer p {
    justify-self: center;
    font-weight: 200;
    font-size: 15px;
}


.footer-bottom {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 20px;
    margin-top: 45px;
}

.footer-bottom img {
    width: 1em;
}

/* footer */