* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    flex-wrap: wrap;

}

header {
    padding: 20px;
    background-color: rgb(255, 212, 208, 100%);
    position: sticky;
    top: 0;
}

header a {
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

/* head-top*/

.top-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0 20px 0;
}

@media (max-width: 600px) {
    .top-inner {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        padding: 0;
        justify-content: center;
        font-size: 14px;
    }
}

.icon {
    padding-left: 10px;
    color: rgb(252, 51, 20, 100%);
    font-weight: 600;
    font-size: 25px;
}

.icon span {
    font-size: 27px;
    color: black;
    letter-spacing: -2.5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #111827;
    text-decoration: none;

}

nav ul li a:visited {
    color: #111827;
}

nav ul li a:hover {
    color: rgb(252, 51, 20, 100%);
}

.right-inner {
    border: 2px solid black;
    padding: 10px 15px;
    background-color: black;

}

.right-inner a {
    text-decoration: none;
}

.right-inner a:active {
    color: white;
}

.right-inner a:visited {
    color: white;
}

.right-inner a:hover {
    color: rgb(255, 212, 208, 100%);
}

/* head-top*/

/* home */

#home {
    background-color: rgb(255, 212, 208, 100%);
}

.left p {
    text-align: left;
}

.home-inner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.home-inner .text {
    font-size: 35px;
    font-weight: 700;
}

.home-inner span {
    color: rgb(252, 51, 20, 100%);
}

.home-inner .left {
    padding: 64px 0 80px 124px;
    margin-left: 80px;
    width: 45rem;
    font-weight: 300;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    padding: 20px;
    width: 100%;

}

.home-inner .right {
    margin-left: 190px;
    padding-top: 30px;
    padding-right: 124px;
    padding-left: 80px;
    align-self: center;
    margin-left: 0;
    padding: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .home-inner {
        flex-direction: row;
        text-align: left;
    }
}

.home-inner .right img {
    border: 2px solid black;
    border-radius: 80px;
    width: 15em;
}

/* home */

/* about */

#about {
    padding: 64px 118px;
    color: white;
    background-color: black;
}

.about-inner {
    text-align: center;
}

.about-top p {
    font-weight: 200;
    width: 45rem;
    justify-self: center;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.about-bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.about-bottom span {
    font-size: 90px;
    color: rgb(255, 212, 208, 100%);
}

/* about */

/* works */

#works {
    padding-bottom: 122px;
    background-color: white;
}

.work-top {
    background-color: rgb(255, 212, 208, 100%);
    padding: 80px 80px 50px 80px;
    text-align: center;
}

.work-top p {
    font-weight: 200;
    width: 45rem;
    justify-self: center;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.work-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.work-bottom h4 {
    font-size: 25px;
}

.work-bottom p {
    font-weight: 200;
    font-size: 15px;
}

.workb {
    padding: 20px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
    max-width: 25rem;
    background-color: rgb(255, 212, 208, 100%);
    ;

}

.workb:hover {
    transform: translateY(-10px);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.workb a {
    color: black;
    text-decoration: none;
    border: 1px solid red;
    background: rgb(255, 136, 156);
    border-radius: 10px;
    padding: 8px 12px;
}

.workb a:visited {
    color: #111827;
}

.workb a:hover {
    color: rgb(252, 51, 20, 100%);
}

.bflex {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* works */

/* skills */
#skills {
    padding: 70px;
    background-color: white;
    text-align: center;

}

.skill-top {
    width: 45rem;
    justify-self: center;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.skill-top p {
    font-weight: 200;
    font-size: 15px;
}

.skill-bottom {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-self: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.skill-list {
    border: 2px solid red;
    border-radius: 25px;
    padding: 15px 35px;
    background-color: pink;
}

.skill-list:hover {
    opacity: 0.5;
}

/* skills */

/* project_detail */

#project_detail {
    padding: 40px 20px;
    background-color: white;
}

#project_detail h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: clamp(1.5rem, 5vw, 2.5rem);

}

#project_detail a h2 {
    border: 2px solid black;
    border-radius: 10rem;

}

#project_detail a h2:hover {
    background-color: black;
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

}

.projectb:hover {
    transform: translateY(-10px);

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

#project_detail a {
    text-decoration: none;

}

#project_detail a:visited {
    color: black;
}

#project_detail a:active {
    color: black;
}

#project_detail a:hover {
    color: rgb(218, 55, 82);


}

/* #project_detail a h2{
    border: 2px solid red ;
    border-radius: 12px; 
} */

.project-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


@media (min-width: 992px) {
    .project-info {
        flex-direction: row;
    }
}

.more {
    width: 43em;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}


.more ul {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1.5rem;
    list-style-position: inside;
}

.project-info img {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

/*DESKTOP ADJUSTMENTS*/
@media (min-width: 992px) {
    #project_detail {
        padding: 80px;
    }

    .project-info {
        flex-direction: row;
        gap: 5rem;
    }

    .more ul {
        padding: 2em 4em 2em 2em;
    }
}

/* project_detail */

/* contact */

#contact {
    padding: 60px;
    background-color: pink;
}

.contact-cover {
    margin-left: 70px;
}

.contact-top {
    width: 45rem;
    text-align: left;
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-top p {
    font-weight: 200;
    font-size: 15px;
}

.detail {
    padding: 5px;
    display: flex;
    align-content: center;
    gap: 10px;

}

.icon-details {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
}

.icon-details img {
    width: 1em;
}

/* contact */

/* footer */

footer {
    padding: 90px;
    background-color: black;
    color: white;
}

.footer-cover {
    justify-self: center;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-top span {
    color: white;
}

.footer-top h1 {
    color: red;
    padding: 5px 55px;
    font-size: 2em;

}

footer p {
    justify-self: center;
    font-weight: 200;
    font-size: 15px;
}


.footer-bottom {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 20px;
    margin-top: 45px;
}

.footer-bottom img {
    width: 1em;
}

/* footer */

/* TABLETS (768px and up) */
@media (min-width: 768px) {
    .about-bottom {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* DESKTOPS (1024px and up) */
@media (min-width: 1024px) {
    .about-bottom {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-inner .left {
        padding-left: 124px;
    }
}